.div__valor{
    width: 363px;
    height: 96px;
    display: flex;
    box-sizing: border-box;
    padding: 18px 24px 18px 24px;
}

.valor__text{
    width: 138px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.valor__text .total__text{
    font-size: 16px;
    font-weight: 700;
    color: #212529;
}

.valor__desc{
    font-size: 12px;
    font-weight: 400;
    color: #868E96;
} 

.total{
    font-size: 16px;
    font-weight: 700;
    color: #FD377E
}