.filtros{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filtros__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filtros__container h1{
    font-size: 16px;
    font-weight: 700;
    color: #212529;
}

.filtros li{
    margin-right: 16px;
}
.filtros li:last-child{
    margin-right: 0;
}

@media (max-width: 752px){
    .filtros__container h1{
       display: none;
    }
    .filtros__container{
        justify-content: center;
    }
}